{% extends "base.html" %}

{% block content %}
<p>
  Hello, {{user.get_full_name|default:user}}!  Please select a course:
</p>

<ul class="course-choices">
{% for course in courses %}
 <li class="course-choice">
  <a class="choose-course" href="?set_course={{course.group.name|urlencode}}{{next}}">{{course.title}}</a>
  {% if add_privilege %}
     <span class="manage-course">  
       [<a href="{%url admin:courseaffils_course_change course.id %}">manage</a>]
     </span>
  {% endif %}
 </li>
{% endfor %}
</ul>

{% if add_privilege %}
<p class="create-course">
   <a href="{%url admin:courseaffils_course_add %}">Create a course</a>
</p>
{% endif %}

{% endblock %}
